{% extends 'main.html' %}

{% block tittle %}
Candidate  result history
{% endblock %}

{% block top %} 
<a  href="{%url 'OTSapp:home'%}" style="color:red;">Sign up</a>
<br>
<br>
<a href="{%url 'OTSapp:logout'%}" style="color:green;">Login</a>
{%endblock%}

{% block content %}
<h1>Your Report card</h1>
<p><b>{{candidate_info.name}} ,</b>you have attempted in total {{candidate_info.test_attempted}} 
    tests and you have scored {{candidate_info.points}} out of  scale 10</p>
<table>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Attempt</th>
        <th>right</th>
        <th>wrong</th>
        <th>points</th>
    </tr>
    {% for r in result%}
    <tr>
        <td>{{r.date}}</td>
        <td>{{r.time}}</td>
        <td>{{r.attempt}}</td>
        <td>{{r.right}}</td>
        <td>{{r.wrong}}</td>
        <td>{{r.points}}</td>
    {% endfor %}
        
    </tr>
</Table>

{%endblock%}
 
 
