{% extends 'main.html' %}

{% block tittle %}
OTS login form
{% endblock %}

{% block top %} 
<span>
    <a href="{%url 'OTSapp:Registration'%}">Sign up</a>
</span><br>

{%endblock%}

{% block content %}
<div class="all-forms">
    {% if loginError %}
        <div  id="error">{{loginError}}</div>
    {% endif %}    
    <form action="{% url 'OTSapp:login'%}"  method="POST">
        {%csrf_token%}
        <div class="form-unit">
            <label for="username">Username</label>
            <input type="text" name="username"  required>
            <label for="password">Password</label>
            <input type="password" name="password" required>

        </div>
        <div class="form-unit">
            <input type="submit" value="login">
            <input type="reset" value="clear">
        </div>

    </form>
    New user <a href="{%url 'OTSapp:Registration'%}">Click here</a>

</div>
{%endblock%}
